html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
  font-family: "Montserrat";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 2rem;
  margin: 10px 0px;
}

button {
  width: 100%;
  border: none;
  background-color: #202120;
  color: #fff;
  height: 50px;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #decc2f;
  color: #202120;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-calc {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-box-shadow: 9px 10px 23px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 9px 10px 23px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 9px 10px 23px 0px rgba(0, 0, 0, 0.51);
  background-color: #202120;
}

.pricing-calc--question {
  width: 100%;
}

.question--options__wrapper {
  display: flex;
  justify-content: center;
}

.question--heading {
  background-color: #2b2b2b;
  padding: 20px;
  margin: auto;
}

.question--option {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}

.question--option p {
  margin: auto;
  display: inline;
  font-size: 1.2rem;
  font-weight: 300;
}

.question--options__slider {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.question--options__slider p {
  padding-left: 30px;
  color: #fff;
}

.question--option__selected {
  background-color: #decc2f !important;
  color: #202120 !important;
}

.question--option__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.question--option__info > p {
  font-size: 0.75rem;
  margin: auto 5px;
}
.slider {
  -webkit-appearance: none !important;
  border-radius: 50px;
  width: 100%;
  cursor: pointer;
  margin: 20px 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px;
  height: 25px;
  margin-top: -5px;
  border-radius: 50%;
  background: #decc2f; /* Green background */
  /* cursor: pointer; Cursor on hover */
}

.slider::-webkit-slider-thumb:hover {
  background-color: #ffee51;
}

.slider::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 50px;
  background: transparent;
}

.disabled {
  opacity: 0.6;
}

.hide {
  display: none;
}

input[type="radio"] {
  padding: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  appearance: none;
  background-color: #2b2b2b;
  border: 2px solid white;
}

label {
  margin: auto 5px;
  text-align: start;
}

input[type="radio"]:hover,
input[type="radio"]:checked {
  background-color: #decc2f !important;
  color: #202120 !important;
}

input[type="number"] {
  width: 75px;
  margin-left: 10px;
}

.total--wrapper {
  height: 75px;
  width: 100%;
  display: flex;
}

.total--wrapper > div:first-child {
  width: 40%;
}

.total--right-side {
  width: 60%;
}

/* Checkboxes */

.question--options__checkboxes {
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  appearance: none;
  height: 30px;
  width: 30px;
  min-width: 30px;
  background-color: #2b2b2b;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  background-color: #fff;
}
input[type="checkbox"]:checked {
  background-color: #decc2f !important;
}

.option--checkboxes {
  width: 25% !important;
}
